{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <br>
            <h1>Dúvidas</h1>
            <p>Você pode entrar em contato tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:matheus.cb@hotmail.com">matheus.cb@hotmail.com</a></li>
                <li>Github: <a href="https://twitter.com/simplemooc">Mosaico</a></li>
            </ul>
        </div>
    </div>

{% endblock %}