{% extends "blank.html" %}

{% block content %}


<div class="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs -->
       <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url "inicio_dashboard" %}">Início</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="{% url "relatorio_canvas" %}">Meus Relatórios</a>
          </li>
           <li class="breadcrumb-item active">
           <a href="{% url 'listagem_graficos' id_canvas=canvas.id %}"> Meus Gráficos</a>
          </li>
          <li class="breadcrumb-item active">Gráfico</li>
        </ol>

        <div id="main" class="container-fluid" style="margin-top: 30px">
 
  <div id="top" class="row">
    <div class="col-sm-12 text-center">
      <h2>Status Final x Objetivos de Aprendizagem</h2>
      <label> </label>
    </div>
    


    <div class="col-sm-9">
      <!-- <a href="#" class="btn btn-primary pull-right h2">Novo Mosaico</a> -->
    </div>
  </div> <!-- /#top -->

 <div class="container">
 <div class="row" style="width: 100%">
        <div class="col-md-4 container col-md-offset-4"> 
        <center>
            <canvas id="productsChart"></canvas>
        </center>
        </div>
    </div>
 
  <hr />
  </div>
  <a class="btn btn-primary pull-right h2" id="save-btn" >Exportar como Imagem</a>
  
  
 </div> <!-- /#main --></div></div>

{% endblock %}

{% block javascript %}
<script>
var ctx = document.getElementById("productsChart");
var status_aprendizagem = JSON.parse('{{ status|safe }}');
var qtde_status = JSON.parse('{{ qtde|safe }}');
// alert(qtde_status);

var productsChart = new Chart(ctx, {
    // type: 'pie',
    type: 'doughnut',
    data: {
        labels: status_aprendizagem,
        datasets: [{
            label: 'Quantidade',
            data: qtde_status,
            backgroundColor: getRandomColor(qtde_status),
        }]
    },
    options: {
        responsive: true,
        animation: {
            animateScale: true,
            animateRotate: true
        },
        title:{
          display: true,
          text: 'Status Final x  Objetivos de Aprendizagem',
          fontSize: 16
        },

        legend:{
          position: 'bottom',
        },

        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                    }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                }
            }
        }
        // scales: {
        //     yAxes: [{
        //         ticks: {
        //             beginAtZero:true
        //         }
        //     }]
        // }

    }
});
function getRandomColor(data) {
    datasize = data.length;

    var graphColors = [];
    i = 0;
    while (i <= datasize) {
        var randomR = Math.floor((Math.random() * 130) + 100);
        var randomG = Math.floor((Math.random() * 130) + 100);
        var randomB = Math.floor((Math.random() * 130) + 100);

        var graphBackground = "rgb("
                + randomR + ", "
                + randomG + ", "
                + randomB + ")";

        if(!graphColors.includes(graphBackground)) {

            graphColors.push(graphBackground);

            i++;
        }
    }
    return graphColors;
};

$("#save-btn").click(function() {
      $("#productsChart").get(0).toBlob(function(blob) {
        saveAs(blob, "grafico_status_final.png");
    });
});


</script>

{% endblock %}

