{% extends "blank.html" %}

{% block content %}


<div class="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs -->
       <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url "inicio_dashboard" %}">Início</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url "listagem_mosaicos" %}">Mosaicos</a>
          </li>
          <li class="breadcrumb-item active">Murais</li>
        </ol>

        <div class="col-sm-11">
      <!-- <a href="{% url 'criar_area' id_canvas=canvas.id %}" class="btn btn-primary pull-right h2">Nova Área</a> -->
    </div>
  </div> <!-- /#top -->

        <div id="main" class="container-fluid">
          <h3 class="page-header">Outros Murais do Canvas {{canvas.nome_canvas}}</h3>
          <label> </label>

<!-- MENSAGEM DE ALERTA -->
  <!-- <div class="row"> -->
          {% if messages %}

          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible" role="alert">
            {% endif %}
                
            {% if message.tags == 'success' %}
               <div class="alert alert-success alert-dismissible" role="alert"> 
            {% endif %}
               <a class="panel-close close" data-dismiss="alert">×</a> 
                
                  {{message}}
              </div>
              {% endfor %}
          {% endif %}
        </div>
<!-- FIM MENSAGEM DE ALERTA -->

        <div id="list" class="row">
  
  <div class="table-responsive col-md-12">
    <table class="table table-striped" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <!-- <th style="text-align: center;">id </th> -->
          <th style="text-align: center;">Nome do Aprendiz</th>
          <th style="text-align: center;" class="actions">Ações</th>
        </tr>
      </thead>
      <tbody>
      {% for c in murais %} 
        <tr>
          <!-- <td style="text-align: center;">{{c.id}}</td> -->
          <td style="text-align: center;">{{c.name}} {{c.lastname}}</td>
          <td style="text-align: center;" class="actions">
            <a class="btn btn-success btn-xs" href="#">Ver Mural</a>
            <!-- <a class="btn btn-warning btn-xs" href="{% url 'editar_area' id_area=c.id %}">Editar</a>
            <a class="btn btn-danger btn-xs"  href="{% url 'excluir_area' id_area=c.id %}" data-toggle="modal" data-target="#delete-modal" onclick="localStorage.setItem('id_area',{{c.id}})">Excluir</a> -->
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  
  </div>
        
    </form>

    </div>

  </div>
      <!-- /.container-fluid -->

</div>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/dashboard/excluir_area.html/'.concat(localStorage.getItem('id_area'))">Sim</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}